/* header */
header{
  @extend .clearfix;
  position:fixed;
  z-index:20;
  top:0;
  left:0;
  width:100%;
  height:45px;
  background:$white;
  border-bottom:1px solid #dedede;
  line-height:45px;
  color:$green;
  font-size:14px;
  .topbar{
  	@extend .clearfix;
    position:relative;
  	width:1000px;
  	margin:0 auto;
  }
  .function-menu{

  }
  .rt{
    float:right;
    a{
      &:hover{
        background-color:$green;
        color:$white;
      }
    }
  }
  a{
    display:block;
    float:left;
    padding:0 10px;
    color:$green;
  }
  .logo{
  	text-align:center;
  	a{
  		float:none;
  		display:inline-block;
  		width:162px;
  		height:27px;
  		margin-top:8px;
  		background:image-url('logo.png') no-repeat 0 0 ;
  		text-indent:-9999px;
  	}
  }
}

/* ICON */
.ico {
  display:inline-block;
  width:50px;
  height:50px;
  vertical-align:text-bottom;
  _vertical-align:inherit;
  border:1px solid #eaeaea;
  border-radius:3px;
  text-indent:-9999px;
}

.ico:hover,.choose{
  border-color:$gray-light;
  box-shadow:1px 1px 3px $gray-light;
}

/* ico-ui icons */
@import '/sprites/ico-ui/*.png';
@include all-ico-ui-sprites;

/* ico-flower icons */
@import '/sprites/ico-flower/*.png';
@include all-ico-flower-sprites;

/* search */
#search{
  display:none;
  position:absolute;
  top:45px;
  left:60px;
  padding:10px;
  width:324px;
  border:1px solid #dedede;
  border-top:0;
  background:$white;
  #search-input{
    width:100%;
    height:32px;
    line-height:32px;
    border:1px solid #eaeaea;
    border-radius:5px;
  }
  #search-btn{
    height:32px;
    width:100%;
    background:$green;
    border:1px solid #efefef;
    text-align:center;
    color:$white;
    border-radius:5px;
    cursor:pointer;
    &:hover{
      background:$green-light;
    }
  }
  p{
    line-height:20px;
  }

}

.choosebox{
  @extend .clearfix;
  margin-bottom:4px;
  a{
    margin:0 2px 2px 0;
    padding:0;
  }
}
.character{
  color: $green;
}

