/*!
 * Mixins
 */

// We just use the CSS3 mixins of Compass
@import 'compass/css3';


// Clearfix
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: '\20';
    display: table;
  }
  &:after {
    clear: both;
  }
}


// ie6 alpha background-image
@mixin ie6-alpha-bg($img) {
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image_path($img)}', sizingMethod='crop');
}


// ie7 inline-block hack
@mixin ie7-inline-block {
  *display: inline;
  *zoom: 1;
}


// Sizing shortcuts
@mixin size($width: 1px, $height: 1px, $radius: false) {
  width: $width;
  height: $height;
  @if type-of($radius) == number {
    border-radius: $radius;
  }
}
@mixin square($size: 1px, $radius: false) {
  @include size($size, $size, $radius);
}


// Text overflow
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Webkit-style focus
@mixin tab-focus {
  // Default
  outline: thin dotted $gray-dark;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// Set the border color and background color of the buttons
@mixin btn-colors($start-color, $end-color) {
  // Border
  border-color: $end-color $end-color darken($end-color, 15%);
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) opacify(rgba(0, 0, 0, .1), .15);
  // Background
  background-color: mix($start-color, $end-color, 60%);
  @include background-image(linear-gradient(top, $start-color, $end-color));
  background-repeat: repeat-x;

  &:hover {
    background-color: $end-color;
  }
  &.disabled, &[disabled] {
    border-color: darken($white, 20%) \9;
    background-color: darken($white, 10%);
  }
}


// Set color for the placeholder text
@mixin placeholder($color: #999) {
  :-moz-placeholder {
    color: $color;
  }
  ::-webkit-input-placeholder {
    color: $color;
  }
}


// Set background-color for the selected text
@mixin selection($f-color: inherit, $b-color: #b4d5fe) {
  @each $prefix in '-moz-', '' {
    ::#{$prefix}selection {
      background-color: $b-color;
      color: $f-color;
      text-shadow: none;
    }
  }
}


// Set text-size-adjust property for mobile devices
@mixin text-size-adjust($value: 100%) {
  @each $prefix in 'webkit', 'moz', 'ms' {
    -#{$prefix}-text-size-adjust: $value;
  }
}
