/* setting */
.setting{
  @extend .single-main;
  position:relative;
  padding:40px 0 40px 40px;
  text-align:left;
}
.form{
  dt{
    padding-top:15px;
    label{
      color:$gray;
    }
  }
  dd{
    position:relative;
    padding-bottom:5px;
  }
  input{
    width:350px;
    height:30px;
    margin-right:10px;
    line-height:30px;
    border:1px solid $gray-light;
    border-radius:5px;
    &:focus{
      border-color:$gray;
      outline:none;
    }
  }
  textarea{
    width:350px;
    height:200px;
    border:1px solid $gray-light;
    border-radius:5px;
    resize:none;
    &:focus{
      border-color:$gray;
      outline:none;
    }
  }
  .submit input{
    display:block;
    width:350px;
    height:40px;
    border:1px solid $gray-light;
    border-radius:5px;
    box-shadow:0 0 5px $gray-light;
    background:$green;
    color:$white;
    text-align:center;
    cursor:pointer;
    font-size:20px;
    &:hover{
      background:$green;
    }
  }
}

.avatar-box{
  position:absolute;
  top:100px;
  right:40px;
  width:182px;
  text-align:center;
  .avatar{
    margin-bottom:10px;
  }
}
