/* /// add /// */
.upload{
  position: relative;
  display:inline-block;
  height:80px;
  line-height:80px;
  width:300px;
  margin-bottom:20px;
  background:$green;
  border:1px solid #efefef;
  text-align:center;
  color:$white;
  border-radius:5px;
  cursor:pointer;
  font-size:40px;
  input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 ;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
}
#progress{
  margin: 0 70px;
}
.bar{
  margin-top: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background: $green-lighter;
  color: $gray;
  font-size: 16px;
}
.tip{
  font-size: 14px;
  color:$gray;
}

.choose-class{
  @extend .clearfix;
  li{
    float:left;
    padding-right:2em;
    select{
      height:30px;
      line-height:30px;
      border:1px solid $gray-light;
      border-radius:5px;
    }
  }
}

