// Grayscale Colors
$black:         #000 !default;
$gray-darker:   #222 !default;
$gray-dark:     #333 !default;
$gray:          #999 !default;
$gray-light:    #ccc !default;
$gray-lighter:  #eee !default;
$white:         #fff !default;

// Accent Colors
$green:         #76b130 !default;
$green-light:   #91ce48 !default;
$green-lighter: #eaefe5 !default;
$red:           #B94A48 !default;
$red-light:     #EED3D7 !default;
$red-lighter:   #F2DEDE !default;
$yellow:        #ebeb37 !default;
$yellow-light:  #fafa54 !default;
