/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Reset
 */
/* line 11, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/screen.scss */
body,
button, input, select, textarea {
  font: 12px/1.5 arial, sans-serif;
}

/* line 15, ../sass/screen.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 16, ../sass/screen.scss */
address, em {
  font-style: normal;
}

/* line 17, ../sass/screen.scss */
ul, ol {
  list-style: none;
}

/* line 19, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #76b130;
}
/* line 22, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}
/* line 25, ../sass/screen.scss */
a img {
  border: 0;
}

/* Clearfix */
/* line 30, ../sass/screen.scss */
.clearfix, header, header .topbar, #search .choosebox {
  *zoom: 1;
}

/* line 31, ../sass/screen.scss */
.clearfix:before, .clearfix:after, header:after, header .topbar:after, #search .choosebox:after, header:before, header .topbar:before, #search .choosebox:before {
  content: '\20';
  display: table;
}

/* line 35, ../sass/screen.scss */
.clearfix:after, header:after, header .topbar:after, #search .choosebox:after {
  clear: both;
}

/* line 40, ../sass/screen.scss */
body {
  background: #edebeb url(../images/bg.png) repeat;
  color: #666;
}

/* header */
/* line 46, ../sass/screen.scss */
header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #fff;
  border-bottom: 1px solid #dedede;
  line-height: 45px;
  color: #76b130;
  font-size: 14px;
}
/* line 59, ../sass/screen.scss */
header .topbar {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
/* line 65, ../sass/screen.scss */
header .lt {
  float: left;
}
/* line 68, ../sass/screen.scss */
header .rt {
  float: right;
}
/* line 71, ../sass/screen.scss */
header .rt a:hover {
  background-color: #76b130;
  color: #fff;
}
/* line 77, ../sass/screen.scss */
header a {
  display: block;
  float: left;
  padding: 0 10px;
  color: #76b130;
}
/* line 83, ../sass/screen.scss */
header .logo {
  text-align: center;
}
/* line 85, ../sass/screen.scss */
header .logo a {
  float: none;
  display: inline-block;
  width: 74px;
  height: 31px;
  margin-top: 5px;
  background: url(../images/logo.png) no-repeat 0 0;
  text-indent: -9999px;
}

/* ICON */
/* line 98, ../sass/screen.scss */
.ico {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: text-bottom;
  _vertical-align: inherit;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background: transparent url(../images/icon.png) no-repeat;
}

/* line 108, ../sass/screen.scss */
.ico-h-1 {
  background-position: 0 0;
}

/* line 109, ../sass/screen.scss */
.ico-h-2 {
  background-position: -30px 0;
}

/* line 110, ../sass/screen.scss */
.ico-h-3 {
  background-position: -60px 0;
}

/* line 111, ../sass/screen.scss */
.ico-h-4 {
  background-position: -90px 0;
}

/* line 112, ../sass/screen.scss */
.ico-h-5 {
  background-position: -120px 0;
}

/* line 113, ../sass/screen.scss */
.ico-fw-2 {
  background-position: 0 -30px;
}

/* line 114, ../sass/screen.scss */
.ico-fw-3 {
  background-position: -60px -30px;
}

/* line 115, ../sass/screen.scss */
.ico-fw-4 {
  background-position: -90px -30px;
}

/* line 116, ../sass/screen.scss */
.ico-fw-5 {
  background-position: -120px -30px;
}

/* line 117, ../sass/screen.scss */
.ico-fw-6 {
  background-position: -150px -30px;
}

/* line 118, ../sass/screen.scss */
.ico-fw-fly {
  background-position: -180px -30px;
}

/* line 119, ../sass/screen.scss */
.ico-fw-mouth {
  background-position: -210px -30px;
}

/* line 120, ../sass/screen.scss */
.ico-fw-g {
  background-position: -240px -30px;
}

/* line 121, ../sass/screen.scss */
.ico-fw-h {
  background-position: -270px -30px;
}

/* line 122, ../sass/screen.scss */
.ico-fw-no {
  background-position: -300px -30px;
}

/* line 123, ../sass/screen.scss */
.ico-others {
  background-position: -330px -30px;
}

/* line 124, ../sass/screen.scss */
.ico-red {
  background: #de6454;
}

/* line 125, ../sass/screen.scss */
.ico-blue {
  background: #5bbed0;
}

/* line 126, ../sass/screen.scss */
.ico-yellow {
  background: #f5ef4a;
}

/* line 127, ../sass/screen.scss */
.ico-green {
  background: #9bd05b;
}

/* line 128, ../sass/screen.scss */
.ico-white {
  background: #fff;
}

/* line 129, ../sass/screen.scss */
.ico-pulp {
  background: #926ce0;
}

/* line 130, ../sass/screen.scss */
.ico-weibo {
  background-position: 0 -60px;
}

/* line 131, ../sass/screen.scss */
.ico-douban {
  background-position: -30px -60px;
}

/* line 132, ../sass/screen.scss */
.ico:hover, .choose {
  border-color: #ccc;
  box-shadow: 1px 1px 3px #ccc;
}

/* search */
/* line 139, ../sass/screen.scss */
#search {
  display: none;
  position: absolute;
  top: 45px;
  left: 60px;
  padding: 10px;
  width: 180px;
  border: 1px solid #dedede;
  border-top: 0;
  background: #fff;
}
/* line 149, ../sass/screen.scss */
#search #search-input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
/* line 156, ../sass/screen.scss */
#search #search-btn {
  height: 32px;
  width: 100%;
  background: #76b130;
  border: 1px solid #efefef;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* line 165, ../sass/screen.scss */
#search #search-btn:hover {
  background: #91ce48;
}
/* line 169, ../sass/screen.scss */
#search p {
  line-height: 20px;
}
/* line 172, ../sass/screen.scss */
#search .choosebox {
  margin-bottom: 4px;
}
/* line 175, ../sass/screen.scss */
#search .choosebox a {
  margin: 0 2px 2px 0;
  padding: 0;
}

/* footer */
/* line 183, ../sass/screen.scss */
footer {
  padding: 20px 0;
  color: #999;
  text-align: center;
  text-shadow: 1px 1px #fff;
}
