.single-main
  %p 花草儿（huacaor.com）是一个关于植物的网站。
  %br/
  %br/
  %p
    有任何问题烦请联系
    = link_to "九间", "http://www.smalloranges.net"
    = link_to "smalloranges.lee@gmail.com", "mailto:smalloranges.lee@gmail.com"