%form#forgot-pwd-form{:method => "post"}
  %ul
    %li
      请输入注册邮箱，新密码会被发送到该邮箱：
    %li
      %input.i-text{:name => "login", :required => "required", :type => "email"}/
    %li.submit
      %button{:type => "submit"} 发 送 邮 件

