.banner
  %ul.p-lists
    - @pictures.each do |p|
      %li
        %a{:href => picture_path(p.id)}
          .p-top
            .class 
              - if p.plant_name['zh']
                .name= p.plant_name['zh']
              - else 
                .name 未鉴定

          = image_tag(p.image.url(:medium), :alt => p.plant_name['zh'])
