.banner
  %ul.p-lists

    - @plants.each do |p|
      %li
        %a{:href => "/plants/#{p.id}"}
          .p-top
            .class 科属
            .name #{p.zh_name}
          = image_tag("#{p.picture_path("thumb")}", :alt => p.zh_name)

    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li.intro
      %p 笔记自然，发现植物之趣
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "/images/placehold.gif"}/