.banner
  %ul.p-lists
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li.intro
      %p 笔记自然，发现植物之趣
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/
    %li
      %a{:href => "/plants"}
        .p-top
          .class 蔷薇科蔷薇属
          .name 蔷薇
        %img{:alt => "", :src => "http://placehold.it/240x240"}/