.banner
  %ul.p-lists
    - @pictures.each do |p|
      - plant = p.plant

      %li
        %a{:href => picture_path(p.id)}
          .p-top
            .class 
              .name= p.plant_name

          = image_tag(p.image.url(:medium), :alt => p.plant_name)
