.banner
  %ul.p-lists
    - @pictures.each do |p|
      %li
        %a{:href => picture_path(p.id)}
          .p-top
            .class 科属
            .name #{p.plant.zh_name}

          = image_tag(p.image.url(:thumb), :alt => p.plant.zh_name)