.banner
  %ul.p-lists
    - @plants.each do |p|
      %li
        %a{:href => plant_path(p.id)}
          .p-top
            .class 科属
            .name #{p.zh_name}

          = image_tag(p.picture_path(:thumb), :alt => p.zh_name)