%form#loginform{:method => "post"}
  %ul
    %li
      %label{:for => "login"} 邮箱：
      %input.i-text{:name => "login", :required => "required", :type => "email"}/
    %li
      %label{:for => "password"} 密码：
      %input.i-text{:name => "password", :required => "required", :type => "password"}/
    %li.submit
      %button{:type => "submit"} 登 录
      %a.reg{:href => "/login"} 已经注册？