%p 类型：
#height.choosebox
  %a.ico-flower-h1.ico{:href => "jacascript:void(0);", :title => "乔木"}
  %a.ico-flower-h2.ico{:href => "jacascript:void(0);", :title => "灌木"}
  %a.ico-flower-h3.ico{:href => "jacascript:void(0);", :title => "藤本"}
  %a.ico-flower-h4.ico{:href => "jacascript:void(0);", :title => "蕨类"}
  %a.ico-flower-h5.ico{:href => "jacascript:void(0);", :title => "草本"}
  %a.ico-flower-h6.ico{:href => "jacascript:void(0);", :title => "乔本"}
%p 花形：
#flowers.choosebox
  %a.ico-flower-fw2.ico{:href => "jacascript:void(0);", :title => "两瓣"}
  %a.ico-flower-fw3.ico{:href => "jacascript:void(0);", :title => "三瓣"}
  %a.ico-flower-fw4.ico{:href => "jacascript:void(0);", :title => "四瓣"}
  %a.ico-flower-fw5.ico{:href => "jacascript:void(0);", :title => "五瓣"}
  %a.ico-flower-fw6.ico{:href => "jacascript:void(0);", :title => "六瓣"}
  %a.ico-flower-fwfly.ico{:href => "jacascript:void(0);", :title => "蝶形"}
  %a.ico-flower-fwmouth.ico{:href => "jacascript:void(0);", :title => "唇形"}
  %a.ico-flower-fwg.ico{:href => "jacascript:void(0);", :title => "穗状"}
  %a.ico-flower-fwh.ico{:href => "jacascript:void(0);", :title => "头状"}
  %a.ico-flower-fwno.ico{:href => "jacascript:void(0);", :title => "花小而不明显"}
  %a.ico-flower-others.ico{:href => "jacascript:void(0);", :title => "其它"}
%p 花色：
#flower-color.choosebox
  %a.ico-flower-red.ico{:href => "jacascript:void(0);", :title => "红花"}
  %a.ico-flower-#ff0.ico{:href => "jacascript:void(0);", :title => "黄花"}
  %a.ico-flower-blue.ico{:href => "jacascript:void(0);", :title => "蓝花"}
  %a.ico-flower-pulp.ico{:href => "jacascript:void(0);", :title => "紫花"}
  %a.ico-flower-green.ico{:href => "jacascript:void(0);", :title => "绿花"}
  %a.ico-flower-#fff.ico{:href => "jacascript:void(0);", :title => "白花"}