%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/
%li
  %a{:href => "/plant"}
    .p-top
      .name 蔷薇
    %img{:alt => "", :src => "http://placehold.it/50x50"}/