!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Plini - 九间的笔记
    %link{:href => "stylesheets/index.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/jquery-1.7.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/index.js", :type => "text/javascript"}
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header
      .topbar
        .lt
          %a{:href => "add.html"} 做笔记
          %a#search-link{:href => "javascript:void(0);"} 搜植物
          / search beginning
          #search
            %input#search-input.search-input{:placeholder => "名称、科属", :type => "text", :value => ""}/
            %p 类型
            #height.choosebox
              %a.ico-h-1.ico{:href => "jacascript:void(0);", :title => "乔木"}
              %a.ico-h-2.ico{:href => "jacascript:void(0);", :title => "灌木"}
              %a.ico-h-3.ico{:href => "jacascript:void(0);", :title => "草本"}
              %a.ico-h-4.ico{:href => "jacascript:void(0);", :title => "蕨类"}
              %a.ico-h-5.ico{:href => "jacascript:void(0);", :title => "藤本"}
            %p 花形
            #flowers.choosebox
              %a.ico-fw-2.ico{:href => "jacascript:void(0);", :title => "两瓣"}
              %a.ico-fw-3.ico{:href => "jacascript:void(0);", :title => "三瓣"}
              %a.ico-fw-4.ico{:href => "jacascript:void(0);", :title => "四瓣"}
              %a.ico-fw-5.ico{:href => "jacascript:void(0);", :title => "五瓣"}
              %a.ico-fw-6.ico{:href => "jacascript:void(0);", :title => "六瓣"}
              %a.ico-fw-fly.ico{:href => "jacascript:void(0);", :title => "蝶形"}
              %a.ico-fw-mouth.ico{:href => "jacascript:void(0);", :title => "唇形"}
              %a.ico-fw-g.ico{:href => "jacascript:void(0);", :title => "穗状"}
              %a.ico-fw-h.ico{:href => "jacascript:void(0);", :title => "头状"}
              %a.ico-fw-no.ico{:href => "jacascript:void(0);", :title => "花小而不明显"}
              %a.ico-others.ico{:href => "jacascript:void(0);", :title => "其它"}
            %p 花色
            #flower-color.choosebox
              %a.ico-red.ico{:href => "jacascript:void(0);", :title => "红花"}
              %a.ico-yellow.ico{:href => "jacascript:void(0);", :title => "黄花"}
              %a.ico-blue.ico{:href => "jacascript:void(0);", :title => "蓝花"}
              %a.ico-pulp.ico{:href => "jacascript:void(0);", :title => "紫花"}
              %a.ico-green.ico{:href => "jacascript:void(0);", :title => "绿花"}
              %a.ico-white.ico{:href => "jacascript:void(0);", :title => "白花"}
            %input#search-btn{:type => "submit", :value => "搜索"}/
          / search finished
        .rt
          %a{:href => "about.html"} 关于
          %a{:href => "login.html"} 加入
        .logo
          %a{:href => "index.html"} Plini
    .title
      %b 木兰
      English | Latin
    .plant
      %img{:alt => "名称", :src => "http://placehold.it/700x500"}/
      .slide-nav
        .left-nav
        .right-nav
    .plant-info
      .lt
        .character
          .ico-h-1.ico{:title => "乔木"}
          .ico-fw-mouth.ico{:title => "唇形"}
          .ico-red.ico{:title => "红花"}
      .rt
        %ul
          %li
            %em> 木兰科
            latin
          %li
            %em> 其它属
            latin
          %li
            %em> 783
            喜爱
        %a.follow{:href => "jacascript:void(0);"} 喜爱
    .content
      .content-left
        %article
          %p 描述文字。植物介绍神马的。
        %h3.comment-title 评论
        %ul.comments
          %li
            .lp
              %a{:href => "notebook.html", :title => "九间"}
                %img{:alt => "九间", :src => "http://placehold.it/50x50"}/
            .rp
              %p
                %a{:href => "notebook.html"}> 九间
                ：我的妈呀。
              %p.date 2012-12-29
          %li
            .lp
              %a{:href => "notebook.html", :title => "九间"}
                %img{:alt => "九间", :src => "http://placehold.it/50x50"}/
            .rp
              %p
                %a{:href => "notebook.html"}> 九间
                ：我的妈呀。
              %p.date 2012-12-29
      .content-right
        .p-slide
          .p-slide-nav
            .left-nav
            .right-nav
          .p-t 发布者的其它笔记
          %ul
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
        .p-slide
          .p-slide-nav
            .left-nav
            .right-nav
          .p-t 同科植物
          %ul
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "plant.html"}
                .p-top
                  .name 蔷薇
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
        .copyright
          .publisher
            .lp
              %a{:href => "notebook.html", :title => "九间"}
                %img{:alt => "九间", :src => "http://placehold.it/50x50"}/
            .rp
              来自
              %a{:href => "notebook.html", :title => "九间"}> 九间
              的笔记
              %br/
              共同编辑：
              %a{:href => "notebook.html", :title => "九间"}> 九间
              、
              %a{:href => "notebook.html", :title => "九间"} 九间
              = succeed "\u{7248}\u{6743}\u{6240}\u{6709}\u{ff0c}\u{4e0d}\u{5f97}\u{80e1}\u{6765}" do
                %br/
    %footer © 2011 Plini.com