- u = comment.user
%li{:id => comment.id}
  .lp
    = link_to image_tag(u.avatar_path, :alt => u.name), u.link
  .rp
    %p
      = link_to u.name, u.link
      = comment.content
    %p.date= date_time(comment.updated_at)