@import "_base/_variables";
@import "_base/_mixins";
@import "_base/_reset";
@import "_base/_flash-notice";
@import "_base/_footer";

/* admin */
header .topbar,
nav ul{
  width:1000px;
  margin:0 auto;
}

/* header */
header{
  @extend .clearfix;
  width:100%;
  height:45px;
  background:$white;
  border-bottom:1px solid #dedede;
  line-height:45px;
  color:$green;
  font-size:14px;
  .topbar{
    @extend .clearfix;
    position:relative;
  }
  .rt{
    float:right;
    a{
      &:hover{
        background-color:$green;
        color:$white;
      }
    }
  }
  a{
    display:block;
    float:left;
    padding:0 10px;
    color:$green;
  }
  .logo{
    text-align:center;
    a{
      float:none;
      display:inline-block;
      width:162px;
      height:27px;
      margin-top:8px;
      background:image-url('logo.png') no-repeat 0 0 ;
      text-indent:-9999px;
    }
  }
}


nav {
  padding:20px 0;
  li {
    float:left;
    padding:0 10px 0 0;
    a {
      display:inline-block;
      height:28px;
      padding:0 19px;
      border:1px solid;
      border-color:$white $white $gray-light $gray-light;
      background:$white;
      font-size:14px;
      font-weight:bold;
      line-height:28px;
    }
  }
}
.n1 .n1,
.n2 .n2,
.n3 .n3,
.nav li a:hover{
  border-color:$gray-light;
  background:#f2f2f2;
  text-decoration:none;
}

.single-main{
  @extend .clearfix;
  margin:0 auto;
  padding:20px;
  width:960px;
  background:$white;
  border:1px solid #dedede;
  box-shadow: 0 0 5px #dedede;
  font-size:14px;
}

.table{
  width:100%;
  th{
    padding:4px;
    border-bottom:1px solid $gray-light;
    border-top:1px solid $gray-light;
    line-height:2em;
    background:#f2f2f2;
  }
  td{
    padding:4px;
    border-bottom:1px solid $gray-light;
    line-height:1.6em;
  }
}

/* setting */
.setting{
  @extend .single-main;
  padding:40px 0 40px 40px;
  text-align:left;
}
.form{
  dt{
    padding-top:15px;
    label{
      color:$gray;
    }
  }
  dd{
    position:relative;
    padding-bottom:5px;
  }
  input{
    width:350px;
    height:30px;
    margin-right:10px;
    line-height:30px;
    border:1px solid $gray-light;
    border-radius:5px;
    &:focus{
      border-color:$gray;
      outline:none;
    }
  }
  textarea{
    width:350px;
    height:200px;
    border:1px solid $gray-light;
    border-radius:5px;
    resize:none;
    &:focus{
      border-color:$gray;
      outline:none;
    }
  }
  .submit input{
    display:block;
    width:350px;
    height:40px;
    border:1px solid $gray-light;
    border-radius:5px;
    box-shadow:0 0 5px $gray-light;
    background:$green;
    color:$white;
    text-align:center;
    cursor:pointer;
    font-size:20px;
    &:hover{
      background:$green;
    }
  }
}

@import "_base/_pagination";
