@import "_base/_variables";
@import "_base/_mixins";
@import "_base/_reset";
@import "_base/_flash-notice";
@import "_base/_header";
@import "_base/_footer";

/* /// notebooks /// */
/* person's info */
.person-info {
  @extend .clearfix;
  position:relative;
  width:1000px;
  margin:60px auto 10px auto;
  border:1px solid #dedede;
  background:$white;
  height:50px;
  box-shadow: 0 0 5px #dedede;
  .avar{
    float:left;
    width:50px;
  }
  .lt{
    float:left;
  }
  .rt{
    float:right;
  }
  ul{
    float:left;
    line-height:1.8em;
    li{
      float:left;
      padding:8px 15px 0 15px;
      border-left:1px dashed #dedede;
      text-align:center;
      em{
        display:block;
        font-size:20px;
      }
    }
  }
  h1{
    float:left;
    padding:0 10px 0 20px;
    height:50px;
    font-size:33px;
    color:$gray-dark;
  }
  .contact{
    float:left;
    padding:10px 0 0 20px;
    .ico{
      margin:0 5px 0 0;
    }
  }
  a.follow{
    float:left;
    width:50px;
    height:50px;
    display:block;
  }
}

/* time & category */
.catebar{
  @extend .clearfix;
  width:1000px;
  margin:0 auto 10px auto;
  a{
    float:left;
    margin:0 20px 0 0;
    padding:5px 30px;
    text-align:center;
    background:$white;
    color:#666;
    &:hover{
      background:$green;
      color:$white;
    }
  }
  .current{
    a{
      background:$green;
      color:$white;
    }
  }
}

/* category */
.cate-lists{
  @extend .clearfix;
  width:1000px;
  margin:0 auto 10px auto;
  li{
    float:left;
    border-left:1px dashed #dedede;
    &:first-child{border-left:0;}
  }
  a{
    display:block;
    padding:5px 10px;
    background:$white;
    color:#666;
    &:hover{
      background:$green;
      color:$white;
    }
  }
  .current{
    a{
      background:$green;
      color:#fff;
    }
  }
}

/* photo lists */
.main{
  @extend .clearfix;
  margin:0 auto;
  padding:10px 0 0 0;
  width:1000px;
  background:$white;
  border:1px solid #dedede;
  box-shadow: 0 0 5px #dedede;
}
.p-lists{
  @extend .clearfix;
  padding:0 0 10px 10px;
  li{
    position:relative;
    float:left;
    padding:0 5px 5px 0;
    a{
      display:block;
      width:240px;
      height:240px;
      line-height:0;
      background:$green-lighter;
    }
    .p-top{
      display:none;
      position:absolute;
      top:0;
      left:0;
      width:220px;
      height:220px;
      padding:10px;
      background:$green;
      color:#fff;
      .class{
        display:block;
        padding-top:10px;
      }
      .name{
        padding-top:100px;
        text-align:center;
        font-size:22px;
      }
    }
  }
}

a.more{
  color:#666;
}
.more{
  display:block;
  padding:30px 0;
  border-top:1px dashed #efefef;
  font-size:30px;
  text-align:center;
  &:hover{
    background:#efefef;
  }
}


/* /// plant /// */
.title{
  width:980px;
  margin:60px auto 10px auto;
  color:$gray-light;
  b{
    padding-right:10px;
    font-size:33px;
    color:$gray-dark;
  }
}
.plant{
  position:relative;
  padding:20px;
  margin-bottom: 20px;
  background:$white;
  text-align:center;
  img{
    max-width: 800px;
    max-height: 700px;
  }
}
.character{
  @extend .contact;
}
.plant-info{
  @extend .person-info;
  margin:0 auto 20px auto;
  height:auto;
  .character{
    padding:3px 0 1px 20px;
  }
  ul li{
    padding-bottom:8px;
  }
}
.content{
  @extend .clearfix;
  margin:0 auto;
  width:1000px;
}
.content-left{
  width:710px;
  float:left;
  background:$white;
  border:1px solid #dedede;
  box-shadow: 0 0 5px #dedede;
}
.content-right{
  width:270px;
  float:right;
  background:$white;
  border:1px solid #dedede;
  box-shadow: 0 0 5px #dedede;
}
.photo-info{
  @extend .clearfix;
  @extend article;
  border-bottom:1px dashed #dedede;
  .lp{
    float:left;
    width:60px;
  }
  .rp{
    padding-left:60px;
  }
}
article{
  padding:20px;
  line-height:1.6em;
}
#description{
  @extend #comment;
}

// comment
.comment-title{
  padding:20px;
  border-top:1px dashed #dedede;
  font-size:14px;
}
.comments{
  padding:0 20px 10px 20px;
  li{
    @extend .clearfix;
    .lp{
      float:left;
      width:60px;
      padding:0 0 10px 0;
    }
    .rp{
      padding-left:60px;
    }
    .date{
      color:$gray-light;
    }
  }
}
#comment{
  @extend .clearfix;
  textarea{
    width:100%;
    height:50px;
    border-color:$gray-light;
    border-radius:5px;
    resize:none;
  }
  button{
    display:block;
    float:right;
    height:30px;
    margin-bottom:15px;
    padding:0 20px;
    border:1px solid $gray-light;
    border-radius:5px;
    box-shadow:0 0 5px $gray-light;
    background:$green;
    color:$white;
    cursor:pointer;
    font-size:14px;
    &:hover{
      background:$green-light;
    }
  }
}

// slide
.p-slide{
  position:relative;
  .p-t{
    padding:10px;
    text-align:center;
    font-size:14px;
  }
  ul{
    @extend .p-lists;
    padding-left:0;
    padding-bottom:20px;
    li{
      width:50px;
      height:50px;
      a{
        width:50px;
        height:50px;
      }
      .p-top{
        width:30px;
        height:30px;
        .name{
          padding-top:0;
          font-size:12px;
        }
      }
    }
    li:nth-child(5n){
      padding-right:0;
    }
  }
}
.copyright{
  padding:10px 10px 20px 10px;
  .publisher{
    @extend .clearfix;
    height:50px;
    .lp{float:left;}
    .rp{padding-left:60px;}
  }
}

.slide-nav {
  position:absolute;
  width:1000px;
  top:50%;
  left:50%;
  margin-left:-500px;
}

.left-nav, .right-nav {
  display: block;
  position:absolute;
  top:0;
  height: 0;
  width: 0;
  margin-left: 0;
  border: 20px solid transparent;
  cursor: pointer;
  opacity:0.8;
  filter:alpha(opacity=80);
}

.left-nav {
  border-right-color: $gray-light;
  left:0;
}

.left-nav:hover {
  border-right-color: $green;
}

.right-nav {
  border-left-color: $gray-light;
  right:0;
}

.right-nav:hover {
  border-left-color: $green;
}

.p-slide-nav {
  position:absolute;
  width:270px;
  top:10px;
  left:50%;
  margin-left:-135px;
  .left-nav,.right-nav{
    border-width:10px;
  }
}

/* /// index /// */
.banner{
  @extend .main;
  margin-top:60px;
}
.intro{
  width:485px;
  height:240px;
  text-align:center;
  font-size:40px;
  color:$white;
  p{
    height:240px;
    background:$green;
    line-height:240px;
    font-family:Microsoft Yahei,arial,sans-serif;
  }
}

.single-main{
  @extend .clearfix;
  margin:80px auto 0 auto;
  padding:100px;
  width:800px;
  background:$white;
  border:1px solid #dedede;
  box-shadow: 0 0 5px #dedede;
  text-align:center;
  font-size:14px;
}



@import "_base/_upload";
@import "_base/_login";
@import "_base/_settings";
@import "_base/_avatar";
@import "_base/_pagination";
