/**
 * Reset
 */
* { margin:0; padding:0; }

body,
button, input, select, textarea { font:12px/1.5 arial, sans-serif; }
button, input, select, textarea { font-size:100%; }
address, em { font-style:normal; }
ul, ol { list-style:none; }

a {
  text-decoration:none;
  color:#76b130;
  &:hover {
    text-decoration:none;
  }
  img { border:0; }
}


/* Clearfix */
.clearfix { *zoom:1; }
.clearfix:before {
  content:'\20';
  display:table;
}
.clearfix:after {
  @extend .clearfix:before;
  clear:both;
}

body{
  background:#edebeb url(../images/bg.png) repeat;
  color:#666;
}

/* header */
header{
  @extend .clearfix;
  position:fixed;
  z-index:20;
  top:0;
  left:0;
  width:100%;
  height:45px;
  background:#fff;
  border-bottom:1px solid #dedede;
  line-height:45px;
  color:#76b130;
  font-size:14px;
  .topbar{
  	@extend .clearfix;
    position:relative;
  	width:1000px;
  	margin:0 auto;
  }
  .function-menu{
    
  }  
  .rt{
    float:right;
    a{
      &:hover{
        background-color:#76b130;
        color:#fff;
      }
    }
  }
  a{
    display:block;
    float:left;
    padding:0 10px;
    color:#76b130;
  }
  .logo{
  	text-align:center;
  	a{
  		float:none;
  		display:inline-block;
  		width:162px;
  		height:27px;
  		margin-top:8px;
  		background:url(../images/logo.png) no-repeat 0 0 ;
  		text-indent:-9999px;
  	}
  }
}

/* ICON */
.ico {
  display:inline-block;
  width:26px;
  height:26px;
  vertical-align:text-bottom;
  _vertical-align:inherit;
  border:1px solid #eaeaea;
  border-radius:3px;
  background:transparent url(../images/icon.png) no-repeat;
}
.ico-h-1 { background-position:0 0; }
.ico-h-2 { background-position:-30px 0; }
.ico-h-3 { background-position:-60px 0; }
.ico-h-4 { background-position:-90px 0; }
.ico-h-5 { background-position:-120px 0; }
.ico-fw-2 { background-position:0 -30px; }
.ico-fw-3 { background-position:-60px -30px; }
.ico-fw-4 { background-position:-90px -30px; }
.ico-fw-5 { background-position:-120px -30px; }
.ico-fw-6 { background-position:-150px -30px; }
.ico-fw-fly { background-position:-180px -30px; }
.ico-fw-mouth { background-position:-210px -30px; }
.ico-fw-g { background-position:-240px -30px; }
.ico-fw-h { background-position:-270px -30px; }
.ico-fw-no { background-position:-300px -30px; }
.ico-others { background-position:-330px -30px; }
.ico-red { background:#de6454; }
.ico-blue { background:#5bbed0; }
.ico-yellow { background:#f5ef4a; }
.ico-green { background:#9bd05b; }
.ico-white { background:#fff; }
.ico-pulp { background:#926ce0; }
.ico-weibo { background-position:0 -60px; }
.ico-douban { background-position:-30px -60px; }
.ico:hover,.choose{
  border-color:#ccc;
  box-shadow:1px 1px 3px #ccc;
}


/* search */
#search{
  display:none;
  position:absolute;
  top:45px;
  left:60px;
  padding:10px;
  width:180px;
  border:1px solid #dedede;
  border-top:0;
  background:#fff;
  #search-input{
    width:100%;
    height:32px;
    line-height:32px;
    border:1px solid #eaeaea;
    border-radius:5px;
  }
  #search-btn{
    height:32px;
    width:100%;
    background:#76b130;
    border:1px solid #efefef;
    text-align:center;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    &:hover{
      background:#91ce48;
    }
  }
  p{
    line-height:20px;
  }
  .choosebox{
    @extend .clearfix;
    margin-bottom:4px;
    a{
      margin:0 2px 2px 0;
      padding:0;
    }
  }
}

/* footer */
footer{
	padding:20px 0;
  color:#999;
  text-align:center;
  text-shadow:1px 1px #fff;
}
